
server:
  port: 9991

spring:
#  redis:
#    host: localhost
#    port: 16379
  jackson:
    serialization:
      indent_output: true

management:
  health:
    defaults:
      enabled: true
    redis:
      enabled: true

app:
  redis-group[0]:
    host: localhost
    port: 16379
    password: ''
    database: 3
  redis-group[1]:
    host: localhost
    port: 16380
    password: ''
    database: 4
  redis-group[2]:
    host: localhost
    port: 16381
    password: ''
    database: 5
    -
      host: localhost
      port: 16379
      password: ''
      database: 0
    -
      host: localhost
      port: 16380
      password: ''
      database: 1
    -
      host: localhost
      port: 16381
      password: ''
      database: 2

